{{> header}}
  <!-- <div id = "background" class="jumbotron jumbotron-fluid"> -->
  <!-- <div id = "background" class="jumbotron jumbotron-fluid" style="background-image: url('https://alternativi.fr/uploads/articles/154/etes-vous-prets-a-renoncer-a-certains-privileges-modernes-pour-sauver-la-planete-4aa.jpg');background-repeat: no-repeat;background-attachment: relative;background-position: center center;background-size: cover;font-family: 'Times New Roman', Times, serif;"> -->
  
    <!-- <div class="container text-center" > -->
      <!-- <h1 class="display-4" style="color: rgb(0, 0, 0);">Une Action Pour la Nature c'est un Point pour la vie</h1> -->
    <!-- </div> -->
  <!-- </div> -->
  <!-- <br><br><br><br> -->
  {{#authenticated}}
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 style="text-decoration: underline; font-family: 'Times New Roman', Times, serif;">WorldWide Ranking Action</h2>
        <ul class="list-group">
          {{#list_actions}}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{descriptions}}
            <span class="badge badge-light">{{points}}pts</span>
          </li>
          {{/list_actions}}
        </ul>
      </div>
      <div class="col text-center">
        <h2 style = "text-decoration: underline;font-family: 'Times New Roman', Times, serif;">WorldWide Ranking Player</h2>
        <div class="list-group list-group-flush justify-content-end">
          <ol>
            {{#user}}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="/profil_amis/{{id}}"><li>{{username}}</li> <span class="badge badge-success">{{points}} pts</span></a>
            {{/user}}
          </ol>
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class="container text-center">
      <a href="/dataList" class="btn btn-success" role="button" data-bs-toggle="button">Action Répertorié</a>
    </div>  
  </div>
  {{/authenticated}}

  {{^authenticated}} 
    <form action="/login" method="post">
      <div class="row row-cols-1 row-cols-sm-2">
          <div class="col">
              <h1> Login </h1>
              <p> Username :<input class="form-control" type="text" name = "username" value="name"></p>
              <p> Password :<input class="form-control" type="password" name = "password" value="password"></p>
              <input class="form-control btn btn-primary" type="submit" value="login">
          </div>
      </div>
    </form>
  {{/authenticated}}
  <br><br><br>
  {{> cookies}}
  <!-- <div style="background-image: url('https://image.freepik.com/vecteurs-libre/banniere-ecologique-doodles_105325-196.jpg');"><br><br></div> -->
  
  {{> footer}}