{{> header}}
  <div id = "background" class="jumbotron jumbotron-fluid" style="background-image: url('https://www.ecologic-france.com/images/medias/images/13934/_thumb3/ecologic-02.jpg');opacity: 0.8;background-repeat: no-repeat;background-attachment: relative;background-size: cover;">
    <div class="container text-center" >
      <h1 class="display-4" style="color: rgb(5, 0, 0);">Une Action Pour la Nature c'est un Point pour la vie</h1>
    </div>
  </div>
  <br><br><br><br>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <h5 class="dropdown-header">WorldWide Ranking Action</h5>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            jetez une ordure
            <span class="badge badge-light">25pts</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            triez sa poubelle
            <span class="badge badge-light">20pts</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            plantez un arbre 
            <span class="badge badge-light">10pts</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            prendre transport en commun 
            <span class="badge badge-light">5pts</span>
          </li>
        </ul>
      </div>
      <div class="col ">
        <div class="list-group list-group-flush justify-content-end">
          <h5 class="dropdown-header">WorldWide Ranking Player</h5>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#list-item-1">1- JustSeen <span class="badge badge-success">10200 pts</span></a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#list-item-2">2- Ditrix2 <span class="badge badge-success">9800 pts</span></a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#list-item-3">3- Biggie <span class="badge badge-success">8500 pts</span></a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#list-item-4">4- Yvans_30 <span class="badge badge-success">7600 pts</span></a>
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class="container text-center">
      <a href="#" class="btn btn-success" role="button" data-bs-toggle="button">Action Répertorié</a>
    </div>  
  </div>
  <br><br><br><br><br>

  <div style="background-image: url('https://image.freepik.com/vecteurs-libre/banniere-ecologique-doodles_105325-196.jpg');"><br><br></div>
  
  {{> footer}}